name: mvn package

on:
  pull_request

jobs:
  build:
    name: build maven library
    runs-on: ubuntu-latest

    steps:

      - name: Deploying GitHub Actions Lib
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@4637f7c31534ec06928b10da807735657a921266
        with:
          servers: '[{ "id": "github", "username": "${{secrets.PRIVATE_WRITE_PACKAGES_USER}}", "password": "${{secrets.PRIVATE_WRITE_PACKAGES_TOKEN}}" }]'

      - name: print metadata
        run: echo ${{github.ref}}

      - name: Set release version
        if: github.ref == 'refs/heads/master'
        run: |
          sed -i "s/-SNAPSHOT<\/version>/<\/version>/1" pom.xml

      - name: Set snapshot version
        run: |
          build_date=`date -u +"%Y%m%d%H%M%S"`
          branch_name=`echo ${GITHUB_REF##*\/} | sed 's/^.*\/\([^\/]*\)$/\1/' | sed "s/[^[:alnum:]-]//g"`
          sed -i "s/-SNAPSHOT<\/version>/-$build_date-$branch_name<\/version>/1" pom.xml

      - name: GPG
        run: echo ${{secrets.GPG_SECRET}} | base64 -d | gpg --import

      - name: Maven build
        run: mvn package -Dmaven.test.skip=true -Dgpg.passphrase=${{secrets.GPG_PASSPHRASE}}
